<nav class="navbar navbar-default clearfix">
<div class="container-fluid clearfix">
  <div class="navbar-header">
    <a routerLink="" class="navbar-brand">Recipe-Web-App</a>
  </div>

  <ul class="nav navbar-nav">
    <li routerLinkActive="bordered"><a  routerLink="/recipe">Recipe</a></li>
    <li  routerLinkActive="bordered "><a routerLink="/shopping-list">Shopping-List</a></li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
      <ng-template [ngIf]="!authService.isAuthenticated()">
          <li ><a routerLink="/signin" >Sign In</a></li>
          <li ><a routerLink="/signup" >Register</a></li>
      </ng-template>
      
      <li class="dropdown" appDropdown *ngIf="authService.isAuthenticated()">
        <a class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a (click)="onSave()">Save Data</a></li>
            <li><a (click)="onFetch()">Fetch Data</a></li>
          </ul>
      </li>    
      <li *ngIf="authService.isAuthenticated()"><a (click)="onSignout()">Sign Out</a></li>
  </ul>


</div>
</nav>