<div class="row">
  <div class="col-sm-5">
    <app-shopping-edit></app-shopping-edit>
    </div>
    <div class="col-sm-7">
    <ul class="list-group">
      <a 
      class="list-group-item clearfix" 
      *ngFor="let ingredient of ingredients;let i=index">        
        <div class="pull-left list-group-item-text">{{ingredient.name}}</div>  
        <span class="pull-left "> ( {{ingredient.amount}} )</span>  
        <div class="pull-right btn-group">
          <a class="btn btn-default btn-danger" (click)="onDeleteIngredient(i)">Delete</a>
          <a class="btn btn-default btn-primary" (click)="onEditIngredient(i)">Edit</a> 
        </div>         
      </a>
    </ul>
  </div>
</div>