
<div class="well">   
      
      <div class="row">
        <div class="col-sm-12">
          <h1>{{recipeData.name}}</h1>
          <p>{{recipeData.description}}</p>
        </div>
      </div>
      <div class="row">
          <div class="col sm-12">
            <img [src]="recipeData.imageUrl" alt="{{recipeData.name}}" class="img-responsive">
          </div>
        </div>
      
      <div class="row">
        <div class="col-sm-12">
          Ingredients
        </div>
      </div>
</div>
