
<div class="well">   
      
      <div class="row">
        <div class="col-sm-12">
          <h1>{{recipeData.name}}</h1>
          <p>{{recipeData.description}}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
            <div class="col-sm-12">
                <div class="btn-group" appDropdown>
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" >Manage Ingredients
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a  (click)="addToShoppingList(recipeData)">To Shopping List</a></li>
                      <li><a [routerLink]="['edit']">Edit Recipe</a></li>
                      <li><a >Delte Recipe</a></li>
                    </ul>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-12">
                      <p>Ingredients</p>
                      <ul class="list-group">
                        <li class="list-group-item clearfix" *ngFor="let ingredient of recipeData.ingredients">
                          <div class="pull-left list-group-item-text">{{ingredient.name}}</div>
                          <span class="pull-right badge badge-primary">{{ingredient.amount}}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
            </div>
        </div>
          <div class="col-md-8 col-sm-8">
            <img [src]="recipeData.imageUrl" alt="{{recipeData.name}}" class="img-responsive">
          </div>
        </div>
      <hr>
      
</div>
