<div class="editComponent">
  <div class="row" >
    <div class="col-sm-12">
      <form #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" 
          name="name" 
          class="form-control" 
          #nameInput="ngModel"
          ngModel
          required>
        </div>
        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="number" 
          name="amount" 
          class="form-control" 
          #amountInput="ngModel"
          ngModel
          required>
        </div>
      </form>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12 btn-group">
      <button class="btn btn-success" (click)="addIngredient(f)" [disabled]="!f.valid">{{editMode ? 'Update': 'Add'}}</button>
      <!-- <button class="btn btn-danger" (click)="deleteIngredient(f)">Delete</button> -->
      <button class="btn btn-primary" (click)="clearInput(f)" type="submit">Clear</button>
    </div>
  </div>  
</div>

